* {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 14px;
    font-style: normal;
    width: 100%;
    box-sizing: border-box;
    background-color:rgb(18, 18, 18);
}

nav {
    display: flex;
    align-items: center;
    max-width: 100%;
    padding: 0 10px;
    box-sizing: border-box;
}

.navlinks {
    display: flex;
    padding: 20px; 
    margin: 0; 
    justify-content: center;
}

.navlinks li {
    margin: 0; 
    font-size: 20px;
    padding-top: 5px;
}

.navlinks a {
    color:  #c6c1c1;  
    text-decoration: none;
    padding: 10px;
    display: block; 
}

.navlinks a:hover {
    color: black; 
    background-color: #dedbdb;
    border-radius: 25px; 
}

#symbol {
    margin-right: 0;
    margin-left: 0px;
    padding: 0px;
    font-size: 24px;
    font-family: "Changa One", sans-serif;
    font-weight: 400;
    font-style: normal;
    width: 20%;
    border: none;
    background-color: transparent;
    cursor: pointer; 
    color: rgb(244, 236, 236);
}



#light a:hover {
    color: rgb(142, 134, 134);
}

#light a{
    display: flex;
    font-size: 24px; 
    color: whitesmoke;
    justify-content: flex-start;
    padding-left: 0px;
    margin-right: 20px;
    cursor: pointer;

}

.aboutheader {
    color: #d4d2d2;
    font-weight: 1000;
}

.aboutpics {
    position: relative;
}

.aboutpics #sabros {
    width: 300px;
    border-radius: 15px;
    display: block;
}

.aboutpics #davao {
    width: 300px;
    border-radius: 15px;
    position: absolute;
    width: 150px;
    bottom: 0px;
    right: 100px;
}

.introduction h1 {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 25px;
    color: #a09b9b;
    margin-left: 10px;
    margin-right: 5px;
    margin-top: 50px;
}

.introduction p {
    color: #c1bebe;
    margin: 10px;
    width: 80%;
    line-height: 1.5;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.connect h1 {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 25px;
    color: #b0acac;
    margin-left: 10px;
    margin-right: 5px;
    margin-top: 50px;
}

.connect p {
    color: #999696;
    margin: 10px;
    width: 80%;
    line-height: 1.5;
}

.connect #fblogo {
    width: 300px;
}

.proflinks{
    margin-top: 30px;
}
.proflinks li {
    display: inline;
    margin-right: 10px;
    margin-left: 10px;
}

.proflinks a{
    color:  rgb(228, 223, 223); 
    text-decoration: none;
    background-color:rgb(73, 71, 71);
    border-radius: 25px;
    border: 4px;
    padding: 6px 8px;
} 

.proflinks #dc{
    color:  rgb(228, 223, 223);  
    text-decoration: none;
    background-color:rgb(73, 71, 71);
    border-radius: 25px;
    border: 4px;
    padding: 6px 8px;
} 

.proflinks a:hover {
    background-color: #b2b2b2;
    color: black
}

.proflinks span {
    color: gray;
    background-color: rgb(73, 71, 71);
}

a {
    text-decoration: none;
} 

/* .projectdiv p {
    color: #656363;
    margin: 10px;
    width: 80%;
}

.projectdiv img {
    height: auto;
    width: 300px;
    margin-top: 10px;
    padding-left: 30px;
}

#projsechead {
    margin-top: 50px;
    color: #656363;
    padding-left: 10px;
}

.projectdiv h2 {
    padding-left: 30px;
}

.projectdiv p {
    padding-left: 20px;
} */

.worksection {
    display: grid;
    grid-template-columns: 0.5fr 2fr;
    grid-template-rows: repeat(8, 1fr);
}

.worksection img {
    height:auto;
    width: 100px;
    grid-column: 1;
    grid-row: 1 / span 8;
    margin-top: 8px;
    margin-left: 10px;
}

.worksection .dates {
    margin-top: 0px;
    color: #c1c1c1;
}

.worksection p {
    margin-left: 10px;
    color:rgb(182, 177, 177)
}

#worksechead {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 25px;
    color: #a7a4a4;
    margin-left: 10px;
    margin-right: 5px;
    margin-top: 50px;
}

#worksecdes {
    color: #9d9a9a;
    margin: 10px;
    width: 85%;
    line-height: 1.5;
}


@media screen and (min-width: 768px) {
    .aboutpics {
        position: static;
    }

    .aboutpics #sabros {
        display: inline;
    }

    .aboutpics #davao {
        width: 300px;
        position: static;
    }

    .projectsection {
        display: grid;
        gap: 1.5rem;
        grid-template-columns: 1fr 1fr;
        width: 80%;
    }

    .navlinks {
        padding: 20px 80px;
    }

    .navlinks li {
        padding: 5px 20px;
    }

    .introduction p {
        color: #b6b1b1;
        margin: 10px;
        width: 60%;
    }

    html {
        padding-left: 80px;
    }

    .introduction {
        display: grid;
        grid-template-columns: 0.5fr 2fr;
    }

    .introduction #ip1 {
        margin-top: 50px; 
    }
}

@media screen and (min-width: 1200px) {
    html {
        padding-left: 450px;
    }



    nav {
        width: 50%;
    }

    .introduction {
        width: 80%;
    }

    .connect {
        width: 80%
    }
    
    #worksecdes {
        width: 66%
    }

    .projectsection {
        width: 50%
    }

    .projectdiv img {
        padding-left: 0px;
    }

    .projectdiv h2 {
        padding-left: 0px;
    }

    .projectdiv p {
        padding-left: 0px;
        margin: 0px
    }

}