* {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 14px;
    font-style: normal;
    width: 100%;
    box-sizing: border-box;
    background-color:rgb(18, 18, 18);
}

nav {
    display: flex;
    align-items: center;
    max-width: 100%;
    padding: 0 10px;
    box-sizing: border-box;
}

.navlinks {
    display: flex;
    padding: 20px; 
    margin: 0; 
    justify-content: center;
}

.navlinks li {
    margin: 0; 
    font-size: 20px;
    padding-top: 5px;
}

.navlinks a {
    color:  #c6c1c1; 
    text-decoration: none;
    padding: 10px;
    display: block; 
}

.navlinks a:hover {
    color: black; 
    background-color: #dedbdb;
    border-radius: 25px;
}

#symbol {
    margin-right: 0;
    margin-left: 0px;
    padding: 0px;
    font-size: 24px;
    font-family: "Changa One", sans-serif;
    font-weight: 400;
    font-style: normal;
    width: 20%;
    border: none;
    background-color: transparent;
    cursor: pointer; 
    color: rgb(244, 236, 236);
}



#light a:hover {
    color: rgb(142, 134, 134);
}

#light a{
    display: flex;
    font-size: 24px; 
    color: whitesmoke;
    justify-content: flex-start;
    padding-left: 0px;
    margin-right: 20px;
    cursor: pointer;
}

.introduction h1 {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 25px;
    color: #f2eeee;
    margin-left: 10px;
    margin-right: 5px;
    margin-top: 50px;
}#b2b1b1

.introduction p {
    color: #b2afaf;
    margin: 10px;
    width: 80%;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.proflinks{
    margin-top: 30px;
}
.proflinks li {
    display: inline;
    margin-right: 10px;
    margin-left: 10px;
}

.proflinks a{
    color:  rgb(228, 223, 223); 
    text-decoration: none;
    background-color:rgb(73, 71, 71);
    border-radius: 25px;
    border: 4px;
    padding: 6px 8px;
}

.proflinks a:hover {
    background-color: #b2b2b2;
    color: black
}

.proflinks span {
    color: gray;
    background-color: rgb(73, 71, 71);
}

.proflinks span:hover {
    background-color: #b2b2b2;
}

a {
    text-decoration: none;
}

img {
    width: 50%;
}

.projectdiv p {
    color: #cbc7c7;
    margin: 10px;
    width: 80%;
}

.projectdiv img {
    height: auto;
    width: 300px;
    margin-top: 10px;
    padding-left: 30px;
}

#projsechead {
    margin-top: 50px;
    color: #dbd2d2;
    padding-left: 10px;
}

.projectdiv h2 {
    padding-left: 30px;
    color: #dbd2d2;
}

.projectdiv p {
    padding-left: 20px;  
    color: #7b7a7a;
}



@media screen and (min-width: 768px) {
    .projectsection {
        display: grid;
        gap: 1.5rem;
        grid-template-columns: 1fr 1fr;
        width: 80%;
    }

    .navlinks {
        padding: 20px 80px;
    }

    .navlinks li {
        padding: 5px 20px;
    }

    .introduction p {
        color: #b2afaf;
        margin: 10px;
        width: 60%;
    }

    html {
        padding-left: 80px;
    }
}

@media screen and (min-width: 1200px) {
    html {
        padding-left: 450px;
    }

    nav {
        width: 50%;
    }

    .introduction {
        width: 60%;
    }

    .projectsection {
        width: 50%
    }

    .projectdiv img {
        padding-left: 0px;
    }

    .projectdiv h2 {
        padding-left: 0px;
    }

    .projectdiv p {
        padding-left: 0px;
        margin: 0px
    }
}




